/* Regole Generali  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Regole Header  */
.header_sopra {
  background-color: #2C3E50;
}

.navbar {
  background-color: #2C3E50;
  border: none;
}

.navbar-default .navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding-top: 25px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-top: 25px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: #1ABC9C;
}

/* Regole Jumbotron */
.header_sotto {
  background-color: #1ABC9C;
  text-align: center;
  padding: 60px 0;
}

.jumbo_tron {
  color: white;
}

#avatar {
  max-height: 250px;
  width: auto;
  margin: 30px 0;
}

.jumbo_tron h1 {
  font-weight: bold;
  font-size: 60px;
}
/* HR CON STELLA */
.star {
  font-size: 30px;
  padding: 0 15px;
  vertical-align: top;
  color: #2C3E50;
}

.jumbo_tron .star, .about .star {
  color: white;
}

.jumbo_tron hr, .portfolio hr, .about hr, .contact hr{
  width:15%;
  display: inline-block;
  border: 2px solid white;
  border-radius: 5px;
}
/* Regole Main */

/* SEZIONE PORTFOLIO */
.portfolio {

  text-align: center;
  padding-bottom: 40px;
}

.portfolio h2, .contact h2 {
  color: #2C3E50;
  padding-top: 50px;
  font-weight: bold;
  font-size: 45px;
}

.portfolio hr{
  border: 2px solid #2C3E50;
}

.img-con-overlay {
  position: relative;
}

.img-con-overlay:hover .overlay {
  opacity: 0.9;
}

.portfolio-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 30px 0;
  transition: 0.3s;
}

.overlay {
  cursor: pointer;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #1ABC9C;
  border-radius: 10px;
  margin: 30px 0px;
}

.text-plus {
  color: white;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* SEZIONE ABOUT */
.about {
  background-color: #1ABC9C;
  color: white;
  text-align: center;
}


.about h2 {
  padding-top: 50px;
  font-weight: bold;
  font-size: 45px;
  color: white;
}

.about p {
  padding: 20px 0;
  font-size: 20px;
  text-align: left;
}

#btn-download {
  padding: 15px 30px;
  background-color: #1ABC9C;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.3s;
  margin-bottom: 75px;
  margin-top: 10px;
}

#btn-download:hover {
  background-color: white;
  color: #2C3E50;
}

/* SEZIONE CONTACT US */
.contact {
  background-color: #FFFFFF;
  text-align: center;
  color:#2C3E50;
  font-size: 25px;
}

.contact hr{
  border: 2px solid #2C3E50;
}

.form_contact .input-text, .form_contact textarea{
  width: 100%;
  padding: 25px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.form_contact  {
  text-align: left;
}

.form_contact ::placeholder {
  color: #2C3E50;
  font-size: 22px;
}

#send {
  padding: 15px 25px;
  background-color: #1ABC9C;
  color: white;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 20px;
}

/* Regole Footer */

.footer_sopra {
  background-color: #2C3E50;
  text-align: center;
  color: white;
}

.footer_sopra h3{
  font-weight: bold;
  margin: 30px;
  padding-top: 20px;
}

.footer_sopra p {
  font-size: 18px;
}

.social-font li {
  display: inline-block;
  text-decoration: none;
}

.social-font a{
  display: inline-block;
  height: 50px;
  width: 50px;
  font-size: 20px;
  color:white;
  margin: 0 10px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
}

.social-font a:hover {
  background-color: white;
  color:#2C3E50;
}

#start-bootstrap {
  color: #1ABC9C;
}

.footer_sotto {
  background-color: #1A252F;
  text-align: center;
  color: white;
  padding: 20px 0;
}
